<div class="container">
        <form #taskForm="ngForm">
         <div class="form-group">
                <label for="project">Project : </label>&nbsp;
                <input type="text" readonly style="margin-left:20px;display:inline-block; width:35%" value="{{task?.project?.projectName}}" name="projectId" class="form-control" [disabled]="editEnabled||viewEnabled" >
                <button name="searchProject" style="margin-left: 8px;border-radius: 20px;" class="btn btn-secondary" type="button" [disabled]="editEnabled||viewEnabled" (click)="searchProject()">Search</button>
         </div>
            <div class="form-group">
                <label for="task">Task : </label>&nbsp;    
                <input type="text" style="margin-left:35px;display:inline-block; width:42%" required [(ngModel)]="task.taskName" name="taskId" [disabled]="viewEnabled" class="form-control" #taskId="ngModel">
            </div>
            <div class="form-group">
                    <input type="checkbox" name="isParentTask" [(ngModel)]="isParentTask" [disabled]="editEnabled||viewEnabled" style="display:inline-block;width:25px;margin-left:75px;">
                    <label for="isParentTask" style="font-weight:normal;">Parent Task</label>        
            </div>
            <div class ="form-group">
                    <label for="taskPriority">Priority :</label>
                    <!--<igx-slider id="slider" [(ngModel)]="task.priority" [disabled]="(parentTask && !editEnabled)?true:false" name="taskPriority" [type]="sliderType.DEFAULT" [minValue]="0"
                    [maxValue]="30"  style="width:44%;margin-left:25px;display: inline-table;"></igx-slider>-->
					
						<mat-slider name="taskpriority" id="taskpriority" [(ngModel)]="task.priority" thumbLabel min="1" max="30" step="1"  #taskpriority="ngModel" style="height:48px;width:46%;margin-left:20px;" [disabled]="((isParentTask||viewEnabled) && !editEnabled)?true:false"></mat-slider>
                    </div>
                    <div class="form-group">
                            <label for="parentTaskName">ParentTask : </label>&nbsp;<input type="text" readonly [disabled]="((isParentTask||viewEnabled) && !editEnabled)?true:false" style="display:inline-block; width:35%" name="parentTask" class="form-control" value="{{task?.parentTask?.parentTaskName}}">
                            <button name="searchParentTask" [disabled]="((isParentTask||viewEnabled) && !editEnabled)?true:false" style="margin-left: 8px;border-radius: 20px;" class="btn btn-secondary" type="button" (click)="searchParentTask(task.project?.projectId)">Search</button>
                     </div>
                     <div class="form-group" >
                            <label for="startDate">Start Date:</label>
                            <input type="date" name="startDate" [(ngModel)]="task.startDate" id="startDate" [disabled]="((isParentTask||viewEnabled) && !editEnabled)?true:false" style="width:16%;margin-left:13px;"> &nbsp; &nbsp;
                            <label for="startDate">End Date: </label>
                            <input type="date" name="endDate" id="endDate" [(ngModel)]="task.endDate"  [disabled]="((isParentTask||viewEnabled) && !editEnabled)?true:false" style="width:16%;margin-left:13px;">
                        </div>
                        <div class="form-group">
                                <label for="user">User : </label>&nbsp;<input type="text" readonly style="display:inline-block; width:35%;margin-left:40px;" [disabled]="((isParentTask||viewEnabled) && !editEnabled)?true:false" value="{{task?.user?.firstName}} {{task?.user?.lastName}}" name="userId" class="form-control">
                                <button name="user" style="margin-left: 8px;border-radius: 20px;" class="btn btn-secondary" type="button" [disabled]="((isParentTask||viewEnabled) && !editEnabled)?true:false" (click)="searchManager()">Search</button>
                         </div>
                         <div class="btn-grp" style="margin-left:142px;">
                                <button type="submit" class="btn btn-secondary" *ngIf="!(editEnabled||viewEnabled)" style="width:20%;" (click)="addTask(task,isParentTask)" [disabled]="!taskForm.form.valid">Add Task</button>&nbsp; &nbsp; 
                                <button type="submit" class="btn btn-secondary" *ngIf="editEnabled||viewEnabled" [disabled]="viewEnabled" style="width:20%;" (click)="udpateTask(task)">Update</button>&nbsp; &nbsp; 
                                <button type="reset" class="btn btn-secondary" *ngIf="editEnabled||viewEnabled"  style="width:20%;" (click)="cancelUpdateTask(task,cancelUpdateNav)">Cancel</button> 
                                <button type="reset" class="btn btn-secondary" *ngIf="!(editEnabled||viewEnabled)" [disabled]="editEnabled" style="width:20%;">Reset</button> 
                        </div>
        </form>
        </div>