<!--<div class="form-group">
    <ul class="list-group" style="width:55%;margin-top:5px">
        <li  class="list-group-item"  *ngFor="let user of users">
            <div class="row"><div class="well col-md-9" style="line-height:0px;margin-bottom:5px;">{{user.firstName}}</div><button class="btn btn-default" style="width:20%;margin-left:10px;background: #cfcfcf;" type="button" (click)="editUser(user)">Edit</button></div>
            <div class="row"><div class="well col-md-9" style="line-height:0px;margin-bottom:5px;">{{user.lastName}}</div><button class="btn btn-default" type="button" style="width:19%;margin-left:10px;background: #cfcfcf;" (click)="deleteUser(user)">Delete</button> </div>
            <div class="row"><div class="well col-md-9" style="line-height:0px;margin-bottom:0px;">{{user.employeeId}}</div></div>
        </li>
    </ul>
</div>-->