/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@4.4.1/dist/css/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

input{
    width:30%;
}

button:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

body{
    background-color: #eee;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

button{
    padding: 4px 8px;
    
}

.btn{
    background-color: #cfcfcf;
    margin-right: 3px;
    
}
.h4,h4{
    font-size: 18px !important;
}